*{
  padding: 0;
  margin: 0;
}
.App {
  display: flex;
  justify-content: space-evenly;
}

.form{
  display: flex;
  flex-direction: column;
  row-gap: 2vw;
  width: 30vw;
  margin-top: 2vw;
}
.form input {
  width : 100%;
}

.list table{
  margin-top: 2vw;
  width: 30vw;
  text-align: left;
  row-gap: 2vw;
}

button{
  margin: 1vw;
}
